<table>
  <tr>
      <td valign="middle" class="ticket-actual">
          <span id="lblTicket1" class="ticket-actual-numero">Ticket {{sala1.id}}</span>
          <br>
          <span id="lblEscritorio1" class="ticket-actual-escritorio">Escritorio {{sala1.sala}}</span>
      </td>
      <td>
          <table>
              <tr>
                  <td>
                      <span id="lblTicket2" class="ticket-secundario">Ticket {{sala2.id}}</span>
                      <br>
                      <span id="lblEscritorio2">Escritorio {{sala2.sala}}</span>
                  </td>
              </tr>
              <tr>
                  <td>
                      <span id="lblTicket3" class="ticket-secundario">Ticket {{sala3.id}}</span>
                      <br>
                      <span id="lblEscritorio3">Escritorio {{sala3.sala}}</span>
                  </td>
              </tr>
              <tr>
                  <td>
                      <span id="lblTicket4" class="ticket-secundario">Ticket {{sala4.id}}</span>
                      <br>
                      <span id="lblEscritorio4">Escritorio {{sala4.sala}}</span>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>