<table>
  <tr>
      <td valign="middle" class="ticket-actual">
          <span id="lblTicket1" class="ticket-actual-numero">{{mesa1.mesa}}</span>
          <br>
          <span id="lblEscritorio1" class="ticket-actual-escritorio">{{mesa1.nombre}}</span>
          <!--<ngx-qrcode  [qrc-value]="mesa1.qrcode" ></ngx-qrcode>-->
      </td>
      <td>
          <table>
              <tr>
                  <td>
                      <span id="lblTicket2" class="ticket-secundario">{{mesa2.mesa}} </span>
                      <br>
                      <span id="lblEscritorio2">{{mesa2.nombre}}</span>
                     <!-- <ngx-qrcode  [qrc-value]="mesa2.qrcode" ></ngx-qrcode>-->
                  </td>
              </tr>
              <tr>
                  <td>
                      <span id="lblTicket3" class="ticket-secundario">{{mesa3.mesa}}</span>
                      <br>
                      <span id="lblEscritorio3">{{mesa3.nombre}}</span>
                      <!--<ngx-qrcode  [qrc-value]="mesa3.qrcode" ></ngx-qrcode>-->
                  </td>
              </tr>
              <tr>
                  <td>
                      <span id="lblTicket4" class="ticket-secundario">{{mesa4.mesa}}</span>
                      <br>
                      <span id="lblEscritorio4">{{mesa4.nombre}}</span>
                      <!--<ngx-qrcode  [qrc-value]="mesa4.qrcode" ></ngx-qrcode>-->
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>