<div class="centrar">
        <div class="row">
                <div class="col-6">
            
                    <form (ngSubmit)="onSubmitComment(f)" #f="ngForm">
                        <h4>Nombre</h4>
                        <input class="form-control" type="text" name="nombre" ngModel placeholder="Nombre">
                        <h4>Mesa para apartar</h4>

                        <div class="row">
                            <div class="col-6" *ngFor="let mesa of mesas" >
                                <div class="mesa" (click)="apartar(mesa)" [ngClass]="{'elegido': mesa == chooseMesa}">
                                        <div class="texto">
                                                {{mesa}}
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                        <button  class="btn btn-primary">Subir</button>
                    </form>
            
                </div>
            </div>
</div>


<!-- <table>
  <tr>
      <td>
          <span id="lblNuevoTicket">
              Numero: {{elTicket.id || ""}}
          </span>
      </td>
  </tr>
  <tr>
    <td>
        <span id="lblNuevoTicket">
            Sala: {{elTicket.sala || ""}}
        </span>
    </td>
</tr>
  <tr>
      <td>
          <button class="btn btn-secondary btn-lg" (click)="generarTicket()">
              Generar nuevo ticket
          </button>
      </td>
  </tr>
</table>


                        <input class="form-control" type="text" name="mesa" ngModel placeholder="mesa1, mesa2, mesa3, mesa4">
                        <h5>Opciones de mesa</h5>

<ul class="list-group">
                                <li  >
                                    mesa1
                                </li>
                                <li >
                                  mesa2
                                </li>
                                <li >
                                    mesa3
                                </li>
                                <li >
                                    mesa4
                                </li>
                            </ul>
                        <br/>
-->